/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Font Classes for ease of use */
/* Tillium Web */
.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.titillium-web-extralight-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.titillium-web-light-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.titillium-web-regular-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.titillium-web-semibold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.titillium-web-bold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* Maiden Orange */
.maiden-orange-regular {
    font-family: "Maiden Orange", serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* Astrisk wildcard selector to select all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(223, 197, 163);
    background-color: #331;
}

h1 {
    font-size: 2rem;
    letter-spacing: 2.5px;
    font-family: 'Maiden Orange', serif;
    font-weight: 500;
    padding-top: 10px;
}

/* Header */
header {
    background-color: #333;
    color: rgba(216, 160, 77, 1);
    padding: 0 1rem;
    text-align: center;
    position: relative;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 5px rgba(247, 247, 247, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 50px;
}

/* Menu */
#menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu-button {
    position: absolute;
    background-image: url(../images/touching-cloth-logo.png);
    background-size: cover;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    z-index: 100;
    right: 0;
    top: 0;
    text-align: center;
    text-justify: center;
    padding-top: 12px;
    font-style: strong;
    font-weight: 700;
}

header a {
    text-decoration: none;
    color: inherit;
}

.active {
    background-color: rgba(255, 255, 255, 0.301);
}

/* Nav */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgba(247, 247, 247, 0.6);
    visibility: hidden;
    top: 100%;
    overflow-y: hidden;
    z-index: 100;
    transition: all 1s ease;
    max-height: 0;
}

/* Nav dropdown functionality */
#nav-toggle:checked~nav {
    visibility: visible;
    max-height: 150px;
    transition: all 1s ease;
}

#nav-toggle {
    display: none;
}
    

/* Main */
main {
    padding: 20px;
    flex: 1 0 auto;
    margin-top: 30px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}